:root {
    --black: black;
    --white: white;
    --gray: #eee;
    --square: rgb(68, 68, 131);
}

* {
    box-sizing: border-box;
    color: var(--black);
    font-family: sans-serif;
    margin: 0;
}

html, body {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
}

.header {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

label {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.game {
    background-color: var(--white);
    max-width: 600px;
    max-height: 600px;
    width: 100vw;
    height: 100vw;
    border: 5px solid var(--border);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.square {
    border: 1px solid var(--white);
    background-color: var(--square);
    width: 33.33%;
    height: 33.33%;
}

.square:hover {
    border: 1px solid var(--black);
    box-shadow: 0px 0px 30px var(--gray);
    z-index: 100;
}

.colorSelect {
    display: flex;
    flex-wrap: wrap;
}